.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city__name {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 9px;
  color: var(--color-white);
}

.city__change {
  font-size: 18px;
  margin-right: 29px;
}

.units__c,
.units__f {
  padding: 3px 14px;
  border: 1px solid var(--color-white);
  border-radius: 8px;
}

.units__c {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.units__f {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.city__location {
  padding-left: 27px;
  background-image: url('../img//location.svg');
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 18px;
}

.unit-current {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0;
  box-shadow: 0px 20px 8px rgba(0, 0, 0, 0.15);
  padding-top: 20px;
}

.fade-in {
  animation: fadeIn 0.2s ease-in-out 0.2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.2s ease-in-out 0.2s backwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search_input {
  border: none;
  outline: none;
  width: 400px;
  height: 70px;
  font-size: 25px;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search_btn {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: #fff;
  height: 70px;
  min-width: 45px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 30px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #1086ff;
}

.search__error {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  color: rgb(255, 0, 0);
  margin: 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 15px 30px;
  font-size: 25px;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.show-error {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
