/* fonts */
@font-face {
  font-family: 'Lato';
  src: local('LatoRegular'), local('Lato-Regular'),
    url('../fonts/Lato-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

/* common specification */
html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--cornflower-blue);
  max-width: 1200px;
}

main {
  margin: auto 0;
  padding-bottom: 4rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --color-white: #ffffff;
  --cornflower-blue: #6195ed;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  opacity: 0.6;
  background-color: transparent;
  color: var(--color-white);
}
